# Banco de Dados
DATABASE_URL=postgresql://user:password@host:5432/database

# JWT
JWT_SECRET=seu_segredo_super_secreto_aqui

# Servidor
PORT=3000
NODE_ENV=production

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# Dispositivos
DEVICE_PAIRING_TTL=600
DEVICE_TTL=120